@page "{id}"
@model SGID.Pages.UserAdmin.DeleteModel
@{
    ViewBag.Title = "Deletar";

    Layout = "_LayoutGeral";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar @Model.Input.UserName</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Input.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Input.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            <a href="/UserAdmin/ListarUsuarios/1">Voltar</a>
        </div>
    }
</div>