@page
@model SGID.Pages.Utilitarios.PaginaTesteModel
@{
    ViewData["Title"] = "Pagina Teste";
    Layout = "_LayoutGeral";
}



<p id="demo">Click the button to get your position:</p>
<a id="Location">Get your Location</a>
<div id="mapholder"></div>


<form id="form1" runat="server">
    <div></div>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            var x = document.getElementById("demo");

            $("#Location").on("click",function(){
                console.log('1')
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                }
                else { x.innerHTML = "Geolocation is not supported by this browser."; }
            })

            
            function showPosition(position) {
                console.log(position)
                var latlondata = position.coords.latitude + "," + position.coords.longitude;
                var latlon = `Your Latitude Position is:=${position.coords.latitude},Your Longitude Position is:=${position.coords.longitude}`;
                //alert(latlon)
                var img_url = `http://maps.googleapis.com/maps/api/staticmap?center=${latlondata}&zoom=14&size=400x300&sensor=false`;
                document.getElementById("mapholder").innerHTML = `<img src='${img_url}' />`;
            }
            function showError(error) {
                if (error.code == 1) {
                    x.innerHTML = "User denied the request for Geolocation."
                }
                else if (err.code == 2) {
                    x.innerHTML = "Location information is unavailable."
                }
                else if (err.code == 3) {
                    x.innerHTML = "The request to get user location timed out."
                }
                else {
                    x.innerHTML = "An unknown error occurred."
                }
            }
        })
    </script>
}
