@page
@model SGID.Pages.Importacao.ImportarCsvModel
@{
    ViewData["Title"] = "Importar Csv";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

<div class="row">
    <div class="col-md-6">
        <h2 style="padding-left:20px;">Importar Csv</h2>
    </div>
</div>

@Html.AntiForgeryToken()

@using (@Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="card" style="padding:10px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 Titulo">
                        <span>Selecionar Arquivo</span>
                    </div>
                    <div class="custom-file" style="margin-top:10px;">
                        <input type="file" class="custom-file-input" id="Anexos" name="Anexos" accept=".csv" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div style="color:#00b050" class="col-md-2"><button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit"><i class="fa-solid fa-thumbs-up"></i> Enviar</button></div> |
            <div style="color:#c00000" class="col-md-2"><a class="btn btn-button btn-danger" style="font-size:12px;" href="/dashboard/0"><i class="fa-solid fa-xmark"></i> Cancelar</a></div>
        </div>
    </div>
}

@section Scripts{
    <script>

        $(document).ready(function(){

            @if(Model.TextoResposta != "")
            {
                @:alert(`@Model.TextoResposta`)
            }
        })

    </script>
}
