@page
@model SGID.Pages.Cirurgias.ListarRecursosModel
@{
    ViewData["Title"] = "Listar Recursos";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutGeral";
    }
}

<div class="row">
        <div class="col-md-4">
            <h2 style="padding-left:20px;">Recursos</h2>
        </div>

        <div class="offset-md-6 col-md-2">
             <a style="text-decoration:none;" href="/cirurgias/novorecurso"><i class="fa-solid fa-user-plus"></i> Novo Recurso</a>
        </div>
        @Html.AntiForgeryToken()
</div>
<div class="row">
@using (@Html.BeginForm(FormMethod.Post))
    {
        <div class="row">
            <div style="padding-left:20px;" class="form-group col-md-3">
                <select  class="form-control" id="Tipo" name="Tipo">
                     <option value="">Tipo de Contrato...</option>
                     <option value="1">CLT</option>
                     <option value="2">PJ</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <select class="form-control" id="Status" name="Status">
                    <option value="">Status...</option>
                    <option value="2">Ativo</option>
                    <option value="1">Inativo</option>
                </select>
            </div>
            <!--<div class="form-group mx-sm-3 mb-2 col-lg-3">
                <select class="form-control" id="Empresa" name="Empresa">
                    <option value="01">Intermedic</option>
                    <option value="03">Denuo</option>
                </select>
            </div>-->
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
            </div>
        </div>
    }
</div>

<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        Nome do Recurso
                    </th>
                    <th class="text-center">
                        Tipo
                    </th>
                    <th class="text-center">
                        Contratação
                    </th>
                    <th class="text-center">
                        Status
                    </th>
                    <th class="text-center">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model.Recursos)
                {
                <tr>
                    <td>@Html.DisplayFor(model=> data.PahNome)</td>
                    <td>Intrumentador</td>

                    @if (data.PahTipocontrato == "1")
                    {
                        <td>CLT</td>
                    }
                    else if (data.PahTipocontrato == "2")
                    {
                        <td>PJ</td>
                    }
                    else
                    {
                        <td>Não Informação</td>
                    }
                    @if(data.PahMsblql == "1"){
                        <td> INATIVO</td>
                    }
                    else
                    {
                        <td> ATIVO </td> 
                    }
                    <td>
                        <a href="/cirurgias/editarrecurso/@data.RECNO" class="fa-solid fa-pen add-tooltip" style="text-decoration:none;" data-container="body" data-placement="top" data-original-title="Editar Recurso" aria-hidden="true"></a>
                        |
                        <a href="/cirurgias/visualizarrecurso/@data.RECNO" class="fas fa-eye add-tooltip" style="text-decoration:none;" data-container="body" data-placement="top" data-original-title="Visualizar Recurso" aria-hidden="true"></a>
                        |
                        <a class="fa-regular fa-trash-can add-tooltip" id="Excluir" onclick="ExcluirRecurso('@data.RECNO')" data-container="body" data-placement="top" data-original-title="Excluir Recurso" aria-hidden="true"></a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
<script>
        function ExcluirRecurso(Id) {

            if (confirm("Deseja excluir mesmo? ") == true) {
                var chamadaUrl = `/cirurgias/listarrecursos?handler=excluir&&Id=${Id}`

                $.ajax({
                    url: chamadaUrl,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function(data) {
                        if (data.status == true) {
                            alert('Exclusão Realizada com sucesso')
                            window.location.href="/cirurgias/listarrecursos"
                        }
                        else{
                            alert('Algo deu errado!! Contate o administrador')
                            window.location.href="/cirurgias/listarrecursos"
                        }
                    }
                })
            }
            else{

            }
        };
</script>
}