@page "{Id}"
@model SGID.Pages.Account.RH.DeleteADMModel
@{
    ViewBag.Title = "Desativar ADM";

    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja Desativar @Model.Input.UserName</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Input.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Input.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            <a href="/account/rh/listartime">Voltar</a>
        </div>
    }
</div>

