@page "{Id}"
@model SGID.Pages.Account.RH.DetailsADMModel
@{
    ViewBag.Title = "Detalhes ADM";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutGeral";
    }
}

<h2>Detalhes</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._details.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._details.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=> model._details.Porcentagem)
        </dt>
        <dd>
            @string.Format("{0:N2}", Model._details.Porcentagem)
        </dd>
    </dl>
</div>


<p>
    <a href="/account/rh/editaradm/@Model._details.Id">Editar</a>
    <a href="/account/rh/listaradm">Voltar para a lista</a>
</p>


