@page
@model SGID.Pages.Formularios.Estoque.OcorrenciaInterModel
@{
    ViewData["Title"] = "Ocorrência";
    Layout = "_LayoutGeral";
}

<div class="row">
    <div class="col-md-6">
        <h2 style="padding-left:20px;">Novo Orçamento</h2>
    </div>
</div>

@Html.AntiForgeryToken()

@using (@Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="card" style="padding:10px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 Titulo">
                        <span>DADOS DA OCORRENCIA</span>
                    </div>
                    <div class="form-group col-sm-3 col-md-3">
                        <label class="Label">Cliente <a class="cliente"><i class="fa-solid fa-magnifying-glass-plus"></i></a></label>
                        <input class="form-control" id="Cliente" name="Cliente" oninput="this.value = this.value.toUpperCase()">
                    </div>
                    <div class="form-group col-sm-3 col-md-3">
                        <label class="Label">Medico</label>
                        <input class="form-control" id="Medico" name="Medico" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-3 col-md-3">
                        <label class="Label">Vendedor</label>
                        <select class="form-control" id="Vendedor" name="Vendedor">
                            @foreach (var data in Model.Vendedores)
                            {
                                <option value="@data">@data</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-sm-3 col-md-3">
                        <label class="Label">Paciente</label>
                        <input type="text" class="form-control" id="Paciente" name="Paciente" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Agendamento</label>
                        <input class="form-control" id="Agendamento" name="Agendamento" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Cirurgia</label>
                        <input type="date" class="form-control" id="Cirurgia" name="Cirurgia" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Data Ocorrencia</label>
                        <input type="date" class="form-control" id="DataOcorrencia" name="DataOcorrencia" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 Titulo">
                        <span>DADOS DO PATRIMONIO/PRODUTO</span>
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Cod. Patrimonio</label>
                        <input type="text" class="form-control" id="Patrimonio" name="Patrimonio" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-4 col-md-4">
                        <label class="Label">Descrição</label>
                        <input type="text" class="form-control" id="DescPatri" name="DescPatri" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Cod. Produto</label>
                        <input type="text" class="form-control" id="Produto" name="Produto" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-4 col-md-4">
                        <label class="Label">Descrição</label>
                        <input type="text" class="form-control" id="Descricao" name="Descricao" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Quantidade</label>
                        <input type="number" class="form-control" id="Quantidade" name="Quantidade" value="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 Titulo">
                        <span>ESTADO</span>
                    </div>
                    <div class="form-group col-sm-6 col-md-6">
                        <label class="Label">Ocorrencia</label>
                        <select class="form-control" id="Ocorrencia" name="Ocorrencia">
                            <option value="DANO">DANO</option>
                            <option value="ERRO DE REGISTRO INSTRUMENTADOR">ERRO DE REGISTRO INSTRUMENTADOR</option>
                            <option value="ERRO DE REGISTRO MOTORISTA">ERRO DE REGISTRO MOTORISTA</option>
                            <option value="ERRO REGISTRO DA ÁREA DE MATERIAIS">ERRO REGISTRO DA ÁREA DE MATERIAIS</option>
                            <option value="MATERIAL SUJO">MATERIAL SUJO</option>
                            <option value="MATERIAL VIOLADO">MATERIAL VIOLADO</option>
                            <option value="PERDA">PERDA</option>
                            <option value="RETIRADA PARCIAL">RETIRADA PARCIAL</option>
                            <option value="OUTROS">OUTROS</option>

                        </select>
                    </div>
                    <div class="form-group col-sm-4 col-md-4">
                        <label class="Label">Ação</label>
                        <select class="form-control" id="Acao" name="Acao">
                            <option value="ERRO CORRIGIDO">ERRO CORRIGIDO</option>
                            <option value="LOTES CORRIGIDOS">LOTES CORRIGIDOS</option>
                            <option value="CODIGO CORRIGIDO">CODIGO CORRIGIDO</option>
                            <option value="ERRO DE REGISTRO MOTORISTA">ERRO DE REGISTRO MOTORISTA</option>
                            <option value="ERRO CORRIGIDO">ERRO CORRIGIDO</option>
                            <option value="SEM EFEITO">SEM EFEITO</option>
                            <option value="ERRO REGISTRO DA ÁREA DE MATERIAIS">ERRO REGISTRO DA ÁREA DE MATERIAIS</option>
                            <option value="INSPEÇÃO CORRIGIDA">INSPEÇÃO CORRIGIDA</option>
                            <option value="SEM EFEITO">SEM EFEITO</option>
                            <option value="MATERIAL SUJO">MATERIAL SUJO</option>
                            <option value="RETIRADO POSTERIORMENTE">RETIRADO POSTERIORMENTE</option>
                            <option value="COMUNICADO HOSPITAL">COMUNICADO HOSPITAL</option>
                            <option value="MATERIAL VIOLADO">MATERIAL VIOLADO</option>
                            <option value="REPOSTO">REPOSTO</option>
                            <option value="SEM DANO">SEM DANO</option>
                            <option value="PERDA">PERDA</option>
                            <option value="ENCONTRADO">ENCONTRADO</option>
                            <option value="NÃO ENCONTRADO">NÃO ENCONTRADO</option>
                            <option value="RETIRADA PARCIAL">RETIRADA PARCIAL</option>
                            <option value="MATERIAL RETORNADO">MATERIAL RETORNADO</option>
                            <option value="OUTROS">OUTROS</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Procedente</label>
                        <select class="form-control" id="Procedente" name="Procedente">
                            <option value="SIM">SIM</option>
                            <option value="NAO">NÃO</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4 col-md-4">
                        <label class="Label">Cobrado</label>
                        <select class="form-control" id="Cobrado" name="Cobrado">
                            <option value="SIM">SIM</option>
                            <option value="NAO">NÃO</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-2 col-md-2">
                        <label class="Label">Reposto</label>
                        <select class="form-control" id="Reposto" name="Reposto">
                            <option value="SIM">SIM</option>
                            <option value="NAO">NÃO</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label class="Label">Descrição da Ocorrencia</label>
                        <input type="text" class="form-control" id="Obs" name="Obs" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div style="color:#00b050" class="col-md-2"><button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit"><i class="fa-solid fa-thumbs-up"></i> Salvar</button></div> |
            <div style="color:#c00000" class="col-md-2"><a class="btn btn-button btn-danger" style="font-size:12px;" href="/cirurgias/agendamentos"><i class="fa-solid fa-xmark"></i> Cancelar</a></div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {

            $('#Patrimonio').on('change', function () {
                var codigo = $("#Patrimonio").val();
                var chamadaUrl = `/formularios/estoque/ocorrenciainter?handler=Patrimonio&&Codigo=${codigo}`;
                $.ajax({
                    url: chamadaUrl,
                    type: "GET",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        $("#DescPatri").val(data);
                    }
                })
            })

            $('#Produto').on('change', function () {
                var codigo = $("#Produto").val();
                var chamadaUrl = `/formularios/estoque/ocorrenciainter?handler=Produto&&Codigo=${codigo}`;
                $.ajax({
                    url: chamadaUrl,
                    type: "GET",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        $("#Descricao").val(data);
                    }
                })
            })
        });
    </script>
}
