@page
@model SGID.Pages.DashBoards.DashBoardMetasModel
@{
    ViewData["Title"] = "DASHBOARD";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-sm-10 col-md-10">
        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo13" value="13" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo13">TODO</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo1" value="01" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo1">JAN</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo2" value="02" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo2">FEV</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo3" value="03" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo3">MAR</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo4" value="04" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo4">ABR</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo5" value="05" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo5">MAI</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo6" value="06" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo6">JUN</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo7" value="07" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo7">JUL</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo8" value="08" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo8">AGO</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo9" value="09" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo9">SET</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo10" value="10" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo10">OUT</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo11" value="11" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo11">NOV</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo12" value="12" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo12">DEZ</label>
    </div>
    <div class="col-sm-2 col-md-2">
         <input type="text" class="form-control" id="Ano" name="Ano" placeholder="Ano" value="@Model.Ano" />
    </div>
    <div class="col-sm-10 col-md-10">
        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo14" value="14" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo14">1º TRI</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo15" value="15" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo15">2º TRI</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo16" value="16" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo16">3º TRI</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo17" value="17" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo17">4º TRI</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo18" value="18" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo18">1º SEM</label>

        <input hidden type="radio" class="btn-check" name="Tipo" id="Tipo19" value="19" autocomplete="off">
        <label class="btn btn-outline-primary" for="Tipo19">2º SEM</label>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12"><text style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 16px;color:#757575">FATURAMENTO CIRURGIAS INTERMEDIC & DENUO</text></div>
</div>
<div id="Tipos" class="row justify-content-center">
    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
        <div class="panel panel-colorful" style="background-color:#203864">
            <div class="panel-heading">
                <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center">QTDA. CIRURGIA</h2>
            </div>
            <div class="panel-body" style="padding-top:0px;">
                <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">0</h3></a>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
        <div class="panel panel-colorful" style="background-color:#8faadc">
            <div class="panel-heading">
                <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center">BUCOMAXILO</h2>
            </div>
            <div class="panel-body" style="padding-top:0px;">
                <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">0</h3></a>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
        <div class="panel panel-colorful" style="background-color:#8faadc">
            <div class="panel-heading">
                <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center">NEURO</h2>
            </div>
            <div class="panel-body" style="padding-top:0px;">
                <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">0</h3></a>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
        <div class="panel panel-colorful" style="background-color:#8faadc">
            <div class="panel-heading">
                <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center">ORTOPEDIA</h2>
            </div>
            <div class="panel-body" style="padding-top:0px;">
                <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">0</h3></a>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
        <div class="panel panel-colorful" style="background-color:#8faadc">
            <div class="panel-heading">
                <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center">TORAX</h2>
            </div>
            <div class="panel-body" style="padding-top:0px;">
                <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">0</h3></a>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
        <div class="panel panel-colorful" style="background-color:#203864">
            <div class="panel-heading">
                <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center"> TOTAL</h2>
            </div>
            <div class="panel-body" style="padding-top:0px;">
                <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">0</h3></a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div id="GraficoAberto" style="height:400px;"></div>
    </div>
    <div class="col-md-4">
        <div id="GraficoFatu" style="height:100%"></div>
    </div>
    <div class="col-md-4">
        <div id="GraficoEmAbertoMeses" style="height:90%"></div>
        <div id="TOTAL"></div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div id="GraficoValorizado" style="height:400px;"></div>
    </div>
</div>

<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-6"><text style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 16px;color:#757575">TITULOS VENCIDOS</text></div>
    </div>
    <br />
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <table id="Vencidos" class="table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">
                                TITULOS VENCIDOS DENUO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a id="TitulosDenuo" href="/relatorios/diretoria/TitulosVencidos" target="_blank"><label class="btn btn-outline-primary">Saiba Mais...</label></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <table id="VencidosInter" class="table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">
                                TITULOS VENCIDOS INTERMEDIC
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a id="TitulosInter" href="/relatorios/diretoria/TitulosVencidosInter" target="_blank"><label class="btn btn-outline-primary">Saiba Mais...</label></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <table id="Folha" class="table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">
                                FOLHA DE PAGAMENTO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a><div id="FolhaRed"><label class="btn btn-outline-primary">Saiba Mais...</label></div></a>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="loading-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body style="display:flex; justify-content: center;"-->
            <div class="modal-body ">
                <div>
                    <div class="progressbarWrapper">
                        <span id="greenBar"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">
        google.charts.load('current', { packages: ["corechart","bar"], language: 'pt-BR' });
        google.charts.setOnLoadCallback(drawChart);

        var formato = { minimumFractionDigits: 2, style: 'currency', currency: 'BRL' }

        var grafico = [];
        var grafico2 = [];
        var grafico3 = [];
        var grafico4 = [];

        grafico.push(['UNIDADES DE NEGOCIOS', 'Valores', { role: 'style' }]);
        grafico2.push(['UNIDADES DE NEGOCIOS', 'Valores']);
        grafico2.push(['MESES', 'Valores', { role: 'style' }]);
        grafico4.push(['UNIDADES DE NEGOCIOS', 'Valores', { role: 'style' }]);

        function move(obj) {
            let elem = document.getElementById("greenBar");
            var width = obj;

            elem.style.width = width + '%';
            elem.style.backgroundColor = '#00e600';
            elem.innerHTML = width * 1 + '%';
        }

        function drawChart() {

            var data = google.visualization.arrayToDataTable(
                grafico
            );

            var options = {
                title: 'VALOR EM ABERTO',
                legend: { position: "none" },
                bar:{ groupWidth: '50%' },
                vAxis: {
                    textPosition: 'none',
                    format: 'currency',
                    textStyle: { fontSize: 0 }
                },
                hAxis: { textPosition: 'none' },
                colors: ['#ffcc00']
            };


            var chart = new google.charts.Bar(document.getElementById('GraficoAberto'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

        function drawChart2() {

            var data = google.visualization.arrayToDataTable(
                grafico2
            );

            var options = {
                title: 'POSICIONAMENTO FINANCEIRO',
                legend: { position: "none" },
                bar: { groupWidth: '50%' },
                vAxis: {
                    format: 'currency',
                    textStyle: { fontSize: 0 }
                },
                hAxis: { textPosition: 'none' },
               
            };


            var chart = new google.charts.Bar(document.getElementById('GraficoFatu'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

        function drawChart3() {

            var data = google.visualization.arrayToDataTable(
                grafico3
            );

            var options = {
                title: 'EM ABERTO CIRURGIAS',
                legend: { position: "none" },
                colors: ['#097609', '#ED8205', '#B80101']
            };

            var chart = new google.visualization.PieChart(document.getElementById('GraficoEmAbertoMeses'));

            google.visualization.events.addListener(chart, 'select', function (e) {
                var selection = chart.getSelection();
                if (selection.length) {
                    var row = selection[0].row;
                    let link = data.getValue(row, 3);
                    window.open(link, '_blank');
                }
            });

            chart.draw(data, options);
        }

        function drawChart4() {

            var data = google.visualization.arrayToDataTable(
                grafico4
            );

            var options = {
                title: 'CIRURGIAS VALORIZADAS',
                legend: { position: "none" },
            };

            var chart = new google.visualization.PieChart(document.getElementById('GraficoValorizado'));

            google.visualization.events.addListener(chart, 'select', function (e) {
                var selection = chart.getSelection();
                if (selection.length) {
                    var row = selection[0].row;
                    let link = data.getValue(row, 2);
                    window.open(link, '_blank');
                }
            });

            chart.draw(data, options);
        }
    </script>
    <script>
        $(document).ready(function () {

            var count = 0;

            $('input[name=Tipo]').on('click', function (e) {

                move(0)
                $("#loading-modal").modal('show');

                var Ano = $("#Ano").val();
                var Mes = $('input[name=Tipo]:checked').val();

                count = 0;

                var chamadaUrl2 = `/dashboards/dashboardmetas?handler=EmAberto&&Mes=${Mes}&&Ano=${Ano}`

                $.ajax({
                    url: chamadaUrl2,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        grafico = [];

                        grafico.push(['UNIDADES DE NEGOCIOS', 'Valores']);


                        data.valores.forEach(x => {

                            grafico.push([x.nome, x.valor])
                        })

                        drawChart()


                        //$('#TotalAberto').html(`<div style="color:#3366cc"><b>Total: ${data.valorTotal.toLocaleString('pt-BR', formato)}</b></div>`);

                        move(50)

                        grafico3 = [];

                        var numero = 1;

                        grafico3.push(['MESES', 'Valores', { role: 'style' },'link']);


                        data.linhas.forEach(x => {

                            grafico3.push([x.nome, x.faturamento, `color:${x.estilo}`,`/relatorios/diretoria/cirurgiaportempo/${numero}`]);
                            numero++;
                        })

                        $('#TOTAL').html(`<div style="color:#3366cc"><b>Total: ${data.linhasValor.toLocaleString('pt-BR', formato)}</b></div>`);

                        drawChart3()
                    }
                })

                var chamadaUrl = `/dashboards/dashboardmetas?handler=Faturados&&Mes=${Mes}&&Ano=${Ano}`
                $.ajax({
                    url: chamadaUrl,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        $("#Tipos>div").remove();

                        data.linhas.forEach(x => 
                        {
                            var linha = '';

                            if(count == 5)
                            {
                                linha = ` <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
                                                      <div class="panel panel-colorful" style="background-color:#203864">
                                                  <div class="panel-heading">
                                                              <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center"> ${x.nome}</h2>
                                                  </div>
                                                  <div class="panel-body" style="padding-top:0px;">
                                                              <a class="produto" ><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">${x.quant.toLocaleString('pt-BR', formato)}</h3></a>
                                                  </div>
                                              </div>
                                          </div>`
                            }
                            else if(count == 0)
                            {
                                linha = ` <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
                                                      <div class="panel panel-colorful" style="background-color:#203864">
                                                  <div class="panel-heading">
                                                              <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center"> ${x.nome}</h2>
                                                  </div>
                                                  <div class="panel-body" style="padding-top:0px;">
                                                              <a class="produto"><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">${x.quant}</h3></a>
                                                  </div>
                                              </div>
                                          </div>`
                            }
                            else
                            {
                                linha = ` <div class="col-xs-2 col-sm-2 col-md-2 col-xl-2">
                                                      <div class="panel panel-colorful" style="background-color:#8faadc">
                                                  <div class="panel-heading">
                                                      <h2 style="margin:0%;color:#ffffff;font-size:20px;" class="panel-title text-center"> ${x.nome}</h2>
                                                  </div>
                                                  <div class="panel-body" style="padding-top:0px;">
                                                        <a href='/relatorios/diretoria/cirugiasporlinha/${Mes}/${Ano}/${x.nome}' target='_blank'><h3 class="text-center" style="margin-top:0%; color:#ffffff;font-size:20px">${x.quant}</h3></a>
                                                  </div>
                                              </div>
                                          </div>`
                            }
                            count++;

                            $("#Tipos").append(linha);
                        })

                        move(70)

                        grafico2 = [];

                        grafico2.push(['UNIDADES DE NEGOCIOS', 'Valores']);

                        data.valores.valores.forEach(x=>
                        {

                            grafico2.push([x.nome, x.valor])
                            
                        })

                        drawChart2()

                        move(100)

                        $("#loading-modal").modal('hide')
                    }
                })

                var chamadaUrl3 = `/dashboards/dashboardmetas?handler=Comissoes&&Mes=${Mes}&&Ano=${Ano}`
                $.ajax({
                    url: chamadaUrl3,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        $("#Folha>tbody>tr").remove();
                            
                         var linha = `<tr>
                                          <td>
                                           <b>COLABORADOR E PJ</b>
                                          </td>
                                          <td>
                                           <b>${data.salario.toLocaleString('pt-BR', formato)}</b>
                                          </td>
                                      </tr>`;

                        $("#Folha>tbody").append(linha);

                        var linha2 = `<tr>
                                          <td>
                                           <b>COMISSÕES</b>
                                          </td>
                                          <td>
                                           <b>${data.comissoes.toLocaleString('pt-BR', formato)}</b>
                                          </td>
                                      </tr>`;

                        $("#Folha>tbody").append(linha2);
                        
                    }
                })

                var chamadaUrl4 = `/dashboards/dashboardmetas?handler=Vencidos&&Mes=${Mes}&&Ano=${Ano}`
                $.ajax({
                    url: chamadaUrl4,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        $("#Vencidos>tbody>tr").remove();

                        var linha = `<tr>
                                                    <td>
                                                     <b>TOTAL</b>
                                                    </td>
                                                    <td>
                                                     <b>${data.valorTotal.toLocaleString('pt-BR', formato)}</b>
                                                    </td>
                                                </tr>`;

                        $("#Vencidos>tbody").append(linha);

                        //$("#TitulosDenuo").setAttribute('href', `/relatorios/diretoria/TitulosVencidos?handler=data&&Mes=${Mes}&&Ano=${Ano}`)

                    }
                })

                var chamadaUrl5 = `/dashboards/dashboardmetas?handler=VencidosInter&&Mes=${Mes}&&Ano=${Ano}`
                $.ajax({
                    url: chamadaUrl5,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        $("#VencidosInter>tbody>tr").remove();


                        var linha = `<tr>
                                             <td>
                                              <b>TOTAL</b>
                                             </td>
                                             <td>
                                              <b>${data.valorTotal.toLocaleString('pt-BR', formato)}</b>
                                             </td>
                                         </tr>`;

                        $("#VencidosInter>tbody").append(linha);

                        //$("#TitulosInter").setAttribute('href', `/relatorios/diretoria/TitulosVencidosInter?handler=data&&Mes=${Mes}&&Ano=${Ano}`)
                    }
                })

                var chamadaUrl6 = `/dashboards/dashboardmetas?handler=Valorizados&&Mes=${Mes}&&Ano=${Ano}`

                $.ajax({
                    url: chamadaUrl6,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        grafico4 = [];

                        var numero = 1;

                        grafico4.push(['UNIDADES DE NEGOCIOS', 'Valores','link']);

                        data.valores.forEach(x => {

                            grafico4.push([x.nome, x.valor,x.link]);
                            numero++;
                        })

                        //$('#TOTAL').html(`<div style="color:#3366cc"><b>Total: ${data.linhasValor.toLocaleString('pt-BR', formato)}</b></div>`);

                        drawChart4()
                    }
                })

            })
        })

        $("#FolhaRed").on('click',function(){

            var Ano = $("#Ano").val();
            var Mes = $('input[name=Tipo]:checked').val();

             
            window.open(`/relatorios/diretoria/FaturamentoXFuncionario?handler=Diretoria&&Mes=${Mes}&Ano=${Ano}`, '_blank');
            

        })

    </script>
}